@font-face {
    src: url(fonts/Cyberpunk/Cyberpunk.ttf);
    font-family: cyberpunk;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #F3E600;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    height: 100%;
    width: 100%;
}

.container {
    display: none; /* grid*/
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    width: 400px;  /* 25rem */
    height: 400px;
    gap: 2px;
    border-radius: 18px;    
}

@keyframes go {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }  
}

.grid-box {
  border-radius: 18px;
  font-size: 50px; /* 3.125rem */ 
  display: grid;
  grid-template-rows: 1fr .3fr;
  background-color: #400D51;
}

.points {
    display: none;
    color: #400D51;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 0;
    width: 100%;
    margin-top: -7rem;
    margin-bottom: -3rem;
}   

.game-board-button {
    background-color: white;
    grid-row: 2 / 3;
}

.start-game-button {
    margin-top: 25px; /* 1.563rem */
    padding: 8rem;
    font-family: cyberpunk;
    font-size: 3rem;
    color: #F3E600;
    border: none;
    border-radius: 18px;
    background: linear-gradient(-80deg, #3EC70B, #3B44F6, #A149FA);
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
    animation-name: go;
}

.chooseGameDiv {
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.chooseButtonOne, .chooseButtonTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: none;
    border-radius: 18px;
    background: linear-gradient(-80deg, #3EC70B, #3B44F6, #A149FA);
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
    animation-name: go;
    font-family: cyberpunk;
    font-size: 4rem;
    width: 40rem;
    height: 20rem;
    color: #F3E600;
}

.title {
    display: flex;
    justify-content: center;
    font-family: cyberpunk;
    font-size: 7rem;
    color: #F3E600;
    margin-top: -10rem;
    background: linear-gradient(-80deg, #007aff, #FF003C, #400D51);
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
    animation-name: go;
    width: 100%;
}

.ok {
    line-height: 0;
    margin-left: -0.5rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
 

}

#link {
    text-decoration: none;
    color: #400D51;
    font-size: 20px;
}




.rotate {
    transition: transform 0.3s ease-in-out;
    filter: invert(7%) sepia(81%) saturate(5297%) hue-rotate(283deg) brightness(40%) contrast(95%);
}

.rotate:hover {
    transform: rotate(360deg) scale(1.2);
}

.gitSimb {
    margin-left: 0.5rem;
    height: 1.8rem;
    width: 1.8rem;
}